<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="lib/tipsy/src/stylesheets/tipsy.css" rel="stylesheet">

	<!-- Le javascript
    ================================================== -->
    <script type="text/javascript" src="lib/ga.js"></script>
    <script type="text/javascript" src="lib/jquery.min.js"></script>
	<script type="text/javascript" src="lib/ashe.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="lib/underscore.js"></script>
	<script type="text/javascript" src="lib/backbone.js"></script>
	<script type="text/javascript" src="lib/URI.js"></script>
	<script type="text/javascript" src="lib/shorten.js"></script>
	<script type="text/javascript" src="lib/moment.js"></script>
    <script type="text/javascript" src="lib/panel.js"></script>
    <script type="text/javascript" src="lib/tipsy/src/javascripts/jquery.tipsy.js"></script>

    <style>
      body {
        padding-top: 50px; /* to make the container go all the way to the bottom of the topbar */
      }
      
      .coder {
      	background-color: #F7F7F9;
		color: #D14;
		display: inline;
		font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
		font-size: 12px;
		height: auto;
		line-height: 18px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		padding-bottom: 2px;
		padding-left: 4px;
		padding-right: 4px;
		padding-top: 2px;
      }
      
	    pre {padding: 5px; margin: 5px; }
		.string { color: green; }
		.number { color: darkorange; }
		.boolean { color: blue; }
		.null { color: magenta; }
		.key { color: red; }
    </style>
    
    <link href="lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="lib/bootstrap/ico/favicon.ico">
  
	<script type="text/template" id="session_entry">
    	<li id="list_entry_{{ sid }}"><a href="#s/{{ sid }}">
			<table style="width: 100%">
  				<tr>
	    			<td>{{ name }}</td>
	    			<td style="text-align:right; align: right;float:right;"><span class="label {{ res_label }}">{{ res_statusText }}</span></td>
			 	</tr>
			</table>
		</a></li>
	</script>    
	
	<script type="text/template" id="main_view_template">
        <div id="session-header" style="margin-left: -20px">
	        <span id="fullurl" title="<pre>{{ url }}</pre>"><code>{{ method }} {{ action }}</code>&nbsp;&nbsp;&nbsp;</span>
        	<span class="badge {{ res_badge }}">{{ res_statusText }}</span>&nbsp;&nbsp;&nbsp;
        	<span class="badge">{{ res_timings }}ms</span>&nbsp;&nbsp;&nbsp;
        	<span class="badge">{{ datetime }}</span>&nbsp;&nbsp;&nbsp;
        	<span class="btn-group">
        		<a href="#load/{{ sid }}" class="btn btn-primary btn-mini">Load in REST Client</a>
        		<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
  				  <span class="caret"></span>
  				</button>
  				<ul class="dropdown-menu">
  					<li ><a href="#info"><small><b>Read more...</b></small></a></li>
  					<li ><a href="#load/{{ sid }}"><small>Load in Advanced REST Client</small></a></li>
  					<li ><a href="#install"><small>Install Advanced REST Client Extension</small></a></li>
  				</ul>
        	</span>	
        	 <br/>
        	 <br/>
        </div>
			<div class="row">
	        	<div class="span4">
				  <div class="well" style="padding-top: 10px">
				  	   <b>Input Parameters</b><br/>
					   <table class="table table-condensed">
						  <tbody>
    						   {% for item in req_parameters %}
                               <tr>
							       <td style="width: 40%"><span class="shorten25">{{ item.name }}</span></td>
							       <td><span class="shorten75">{{ item.value }}</span></td>
                               </tr>
    						   {% endfor %}
						  </tbody>
						</table>
					   <a href="javascript:toggleTable('req_headers')" style="text-decoration: none;"><b>Headers</b>(<span id="req_headers_tip">show</span>)</a><br/>
					   <table class="table table-condensed hidden" id="req_headers_table">
						  <tbody>
    						   {% for item in req_headers %}
                               <tr>
							       <td style="width: 40%"><span class="shorten25">{{ item.name }}</span></td>
							       <td><span class="shorten75">{{ item.value }}</span></td>
                               </tr>
    						   {% endfor %}
						  </tbody>
						</table>
					   <a href="javascript:toggleTable('req_cookies')" style="text-decoration: none;"><b>Cookies</b>(<span id="req_cookies_tip">show</span>)</a><br/>
					   <table class="table table-condensed hidden" id="req_cookies_table">
						  <tbody>
    						   {% for item in req_cookies %}
                               <tr>
							       <td style="width: 40%"><span class="shorten25">{{ item.name }}</span></td>
							       <td><span class="shorten75">{{ item.value }}</span></td>
                               </tr>
    						   {% endfor %}
						  </tbody>
						</table>
				  </div>							  
			  </div>
		      <div class="span8">
				  <div class="well" style="padding-top: 10px">
				  <b>Output Parameters</b><br/>
					<pre>{{ res_parameters }}</pre>
					<a href="javascript:toggleTable('res_headers')" style="text-decoration: none;"><b>Headers</b>(<span id="res_headers_tip">show</span>)</a><br/>
					<table class="table table-condensed hidden" id="res_headers_table">
					  <tbody>
    						   {% for item in res_headers %}
                               <tr>
							       <td style="width: 40%"><span class="shorten25">{{ item.name }}</span></td>
							       <td><span class="shorten75">{{ item.value }}</span></td>
                               </tr>
    						   {% endfor %}
					  </tbody>
					</table>
				  </div>							  
			  </div>
		</div>
	</script>
	
	<script type="text/template" id="tab_list_template">
	    <li id="navbar-{{ pid }}"><a href="#t/{{ pid }}">{{ name }}</a></li>
	</script>

	<script type="text/template" id="tab_view_template">
		    <div class="tab-pane {% if active %} 'active' {% end if %}" id="tab{{ pid }}">
				   <div class="row-fluid show-grid" >
					  <div class="span12" >
					    <div class="row-fluid" >
					    	<div class="span2">
					            <ul id="api_list{{ pid }}" class="nav nav-list">
					            </ul>
				        	</div>
					        <div id="main_view{{ pid }}" class="span10">
					        </div>
			        	</div>
				  	</div>
	  	       </div>
			</div>
	</script>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav" id="tabs_list">
            </ul>
            <ul class="nav" >
 			  <li class="divider-vertical"></li>
              <li class="">
				<form class="navbar-search pull-left">
				  <input type="text" class="search-query" placeholder="Search">
				</form>
              </li>            
            </ul>
          </div>
        </div>
      </div>
  </div><!-- /navbar -->
  
	  <br/>  
    <div class="container-fluid" id="tabs_view"></div>
  </body>
</html>
